<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Model/profile/profileStyle.css">
</head>
<body>
    
        <div class="userBack">
            <div class="hiddenBox"></div><div class="hiddenBox2"></div>
            <img src="/Model/home/MediaFiles/1DeJunho.jpg" alt="" class="profileImg">
            <span class="userName" style="position: absolute;">Jerson Tomas B.</span>
            <span class="nivel_Membrasia">Membro</span>

                <div class="box_display">
                    <div class="side_Bar">
                        <img src="/Model/profile/definicoes (2).png" alt="" class="definicoes">
                        
                    </div>
                </div>
            
            <ul class="">
                <li></li>
                <li></li>
                <li></li>
                <li></li>   
            </ul>


                    

        </div>

</body>
</html>